/* .tech-showcase-section{
	padding-bottom: 100px;
}
.tech-showcase-section>p, .tech-showcase-section>h3{
	padding: 0 300px;
	text-align:center;
}

.tech-showcase{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	text-align:center;
}
.tech-box{
	display:flex;
	flex-direction:column;
	align-items:center;
	flex-basis: 300px;
	background-color:whitesmoke;
	margin:10px;
	padding: 10px 0;
}
.tech-box:hover{
	background-color:rgb(119,136,153, 0.2);

}
.tech-box h4, .tech-box p {
	margin:0;
}
.tech-box >img{
	height: 200px;
	width:200px;
}

.skillset-section{
	background-image: url("../images/background-skillset.jpg");
	background-position:center;
	background-size:cover;
	height:300px;

} */




/* New Shit To Learn
vh viewport height
vw viewport width
left:0 right:0 effect of width:100%?
display:inline-block for nav
outline: 1px solid black;
outline-offset:
ouline just like borders but you can offset
*/

html, body{
	height:100%;
	padding:0;
	margin:0;
  font-family: 'Orbitron', sans-serif;
}
/* ***************** NAVBAR SECTION ******************** */
nav{
	/* background-color:rgba(0,0,0,0.2); */
	background-color:rgba(0,0,0,0.5);
	height: 70px;
	position:fixed;
	width:100%;
	z-index:1;
}
nav h1, nav ul {
	margin:0;
}
.fa-keyboard:before {
  font-size:2.5em;
	margin-left:20px;
	background: linear-gradient(to right, #00c3e3 , #ff4554);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
nav ul li{
	float:right;
	list-style: none;
	margin: 20px 10px;
}
nav ul li a{
	text-decoration:none;
	color:white;
	padding:5px 10px;
}
nav ul li a:hover{
	/* color:#80CDFC; */
	color:black;
	background-color:rgba(255,255,255,0.6);
	border-radius: 4px;
}

/* ***************** BANNER SECTION ******************** */
.banner-section{
	clear:both;
	background:url("../images/banner.jpg");
	background-color:blue;
	background-position:center;
	background-size:cover;
	position:relative;
	z-index: 0;
	top:-100px;
	padding: 300px 100px;
	text-align:center;


}
.banner-section h3{
	margin:0;
	font-weight:700;
	font-size:4rem;
}
.banner-section p{
	font-size:1.3rem;
}
.banner-section a{
	text-decoration: none;
	background-color:rgba(0,0,0,0.4);
	border-radius:4px;
	padding: 10px;
	color:white;
	user-select:none;

}
.banner-section a:hover{
	color:black;
	background-color:rgba(255,255,255,0.4);
}
/* ***************** ABOUT SECTION ******************** */
.about-section{
	margin: 0 0 100px 0;
	padding: 70px 0 0 0;
}
.about-section h2{
	text-align:center;
	font-weight:700;
}
.about-container{
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
}
.about-image{
	flex-basis:595px;
}
.about-image img{
	width:600px;
	margin-right:5px;
}
.about-para{
	flex-basis:595px;
}
.about-para p{
	margin: 0 0 0 5px;
	letter-spacing: 2px;
	font-weight:500;
	/* margin-left:5px; */
	user-select:none;
	transition: 0.4s ease-in-out;
}
.about-para p:hover{
	transform:scale(1.04);
	transition: 0.4s ease-in-out;
}
/* ***************** PORTFOLIO SECTION ******************** */
.portfolio-section{
	margin: 0 0 200px 0;
	padding: 70px 0 0 0;
}
.portfolio-section h2{
	text-align:center;
	font-weight:700px;
}
.portfolio-box-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;

}
.portfolio-box{
	position:relative;
	padding:0;
	margin:0;
	flex-basis:400px;
	cursor: pointer;

}
.portfolio-box p{
	display:none;
	position:absolute;
	margin:0;
	top:50%;
	left:50%;
	transform: translateX(-50%);
	color:black;
	font-weight: 700;
}
.portfolio-box:hover p{
	display:block;
	z-index:2;
}
.portfolio-box img{
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
	transition: 0.4s ease-in-out;
}
.portfolio-box:hover img{
	filter: blur(5px);
	transform: scale(1.1);
	position:relative;
	z-index:1;
	transition: 0.4s ease-in-out;
}
/* ***************** MODAL SECTION ******************** */
.modalContainer{
	border:1px solid black;
	position:fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: 2;
	background-color:rgba(0,0,0,0.7);
	display:none;
	animation-name: openModal;
	animation-duration: 0.7s;
	animation-timing-function:ease-in-out;
}
@keyframes openModal{
	from{opacity:0;}
	to{opacity:1;}
}
#closeModalButton{
	margin-left:80%;
	margin-top: 10px;
	cursor:pointer;
	user-select:none;
	position:absolute;
}
#closeModalButton:hover{
	color:red;
}

.modalContent{
	width:50%;
	height: 80%;
	padding: 50px 100px;
	font-weight:500;
	background-color:rgba(255,255,255,0.7);
	margin: 10px auto;
	text-align:center;
	display:none;
}
.modalContent h1{
	margin:0;
}

.modalTechImagesContainer{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
	transition: 0.3s ease-in-out;
	margin-bottom: 30px;
}
.modalContent .modalTechImages{
	width:100px;
	height:100px;
	border: 1px solid transparent;
	transition: 0.3s ease-in-out;
}
.modalContent .modalTechImages:hover{
	transform: scale(1.5);
	transition: 0.3s ease-in-out;
	margin: 0 25px;
}
.modalContent a{
	text-decoration:none;
	border-radius:12px;
	padding: 10px;
	background-color:rgba(0,0,0,0.7);
	color:white;

}

/* ***************** Contact SECTION ******************** */
.contact-section{
	background-image: url("../images/arrow.jpg");
	background-size:center;
	background-position:right;
	padding-top:150px;
	padding-bottom: 200px;
	text-align:center;
}
.contact-section h4{
	margin:80px 0 0 0;
}
.contact-section div .contact-icons{
	font-size: 60px;
	margin:10px 10px 50px 10px;
	color:rgba(0,0,0,0.7);
}
.contact-section div .contact-icons:hover{
	color:black;
	transform: scale(1.1);
	transition: 0.2s ease-in-out;
}
.contact-section p{
	margin:0;
	font-weight:700;
}

footer{
	background-color:black;
	color:white;
	text-align:center;
	padding-top:100px;
	padding-bottom:100px;
}
.footer-icons{
	margin: 10px;
	color:white;
}
